@import '../../styles/vars';

.sectionSecond {
  margin-top: 160px;
  position: relative;

  &__inner {
    height: 840px;
  }
  &__title {
    //margin-bottom: 123px;
  }
  &__sliderWrapper {
    //height: 100%;
    max-width: 1920px;
    position: absolute;
    top: 343px;
    //height: 500px;
  }
}
@media (max-width: $mobile) {
  .product {
    margin-top: 70px;
  }
}
