/* Fonts */
$generalFontTitle: 'Orichidea Pro';
$generalFont: 'Manrope';
$footerFont: 'Roboto';

/* Colors */
$mainFontColors: #141414;
$linkFontColors: #ffffff;
$bgColors: #e5e5e5;

/* Breakpoints */
$mobile: 375px;
