@import '../../styles/vars';

.sectionFirst {
  margin-top: 200px;

  &__title {
    margin-bottom: 123px;
  }
}
@media (max-width: $mobile) {
  .about {
    margin-top: 72px;
    &__title {
      margin-bottom: 64px;
    }
  }
}
