.slide {
  //flex-grow: 0;
  height: 489px;
  flex: 0 0 20%;
  //min-width: 320px;
  //max-width: 320px;
  margin-right: 40px;
  //flex: 1 0 100%;
  position: relative;
  &:last-child {
    margin-right: 0px;
  }
  &__img {
    //display: flex;
    //margin: 0 auto;
    height: 100%;
    width: 100%;
    //object-fit: contain;
  }
}
