.slider {
  overflow: hidden;
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 100%;
  &__viewport {
    height: 100%;
    width: 100%;
    position: sticky;
  }
  &__horizontalContainer {
    height: 100%;
  }
}
